*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(217, 54%,11%);
    font-family: Outfit, 'san-serif';
    font-size: 18px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center; 
    
}

 .container{
    padding: 15px;
    background-color: hsl(216, 50%, 16%);
    width: 250px;
    margin:auto;
    border-radius:10px;
    box-shadow: 10px 10px 15px rgb(2, 17, 39), 20px 20px 30px rgb(5, 18, 38);
}
p{
  color:hsl(0, 0%, 100%);
  margin-top: 10px;

}
section{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    color:hsl(215, 51%, 70%);
    font-size: 15px;
}
hr{
    border: 1px solid hsl(215, 32%, 27%);
}
svg{
    position: relative;
    top: 2px;
}
.p1{
    font-weight: 600;
    
}
.p2 span{
    font-weight: 400;
    color: hsl(178, 100%, 50%);
}
.p4{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.p4 p{
    font-weight: 300;
    font-size: 15px;
}
.equilibrium{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 2px;
}
.avatar{
    position:relative;
    top: 5px;
    width: 35px;
    margin: 10px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%
}
 .view .active{
   background-color: hsla(178, 100%, 50%, 0.65);
   position:absolute;
   width:250px;
   height: 250px;
   top: 135px;
   border: 1px solid hsla(178, 100%, 50%, 0.65);
   border-radius: 10px;
   display:none;
   

}
p:hover{
    color:hsl(178, 100%, 50%);
}
.view:hover .active{
    display:inline;
}
